<app-navbar>showNavBar</app-navbar>
<div class="container mt-4">
    <h2 class="text-center mb-4">Users List</h2>

    <div *ngIf="!users || users.length === 0" class="text-center">
        <p>Loading users...</p>
    </div>

    <div *ngIf="users && users.length > 0">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
    </div>
</div>
