app-navbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}
:host {
    display: block;
    background-image: url('/assets/userList.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    padding: 90px; 
    color: white; 
}

.container {
    width: 100%; 
    padding: 20px; 
}

.table {
    width: 100%; 
}

.table-body {
    display: block; 
    max-height: 410px;
    overflow-y: auto;
    width: 100%; 
}

.table tr {
    display: table; 
    table-layout: fixed; 
    width: 100%; 
}

