<app-navbar>showNavBar</app-navbar>
<div class="container mt-4">
    <h2 class="text-center mb-4">Add User</h2>
  

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="user.name"
          name="name"
          required
          #name="ngModel"
          class="form-control"
          placeholder="Enter user name"
        />
        <div *ngIf="name.invalid && name.touched" class="text-danger">
          Name is required.
        </div>
      </div>
  
   
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="user.email"
          name="email"
          required
          #email="ngModel"
          class="form-control"
          placeholder="Enter user email"
        />
        <div *ngIf="email.invalid && email.touched" class="text-danger">
          Valid email is required.
        </div>
      </div>
  
      
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Add User
      </button>
    </form>
  
    
    <div *ngIf="successMessage" class="alert alert-success mt-4">
      {{ successMessage }}
    </div>
  
    
    <div *ngIf="errorMessage" class="alert alert-danger mt-4">
      {{ errorMessage }}
    </div>
  </div>
  